To make sure this runs you must load package by running Anaconda Prompt and typing:

pip install pandas-datareader

In [11]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [12]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [13]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.472425
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   8.404510
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   8.285657
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   8.302632
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   8.268674

In [14]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-09-20,122.599998,121.750000,122.129997,122.239998,15362000.0,122.239998
2019-09-23,123.769997,121.970001,122.199997,123.220001,6060400.0,123.220001
2019-09-24,124.730003,123.360001,123.699997,123.610001,7633200.0,123.610001
2019-09-25,123.830002,122.949997,123.559998,123.019997,5812600.0,123.019997
2019-09-26,125.000000,123.529999,123.639999,124.309998,6984800.0,124.309998

## Simple Rate of Return

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [15]:
PG['simple_return'] = (PG['Adj Close'] / PG['Adj Close'].shift(1)) - 1
print (PG['simple_return'])

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014142
1995-01-06    0.002049
1995-01-09   -0.004090
1995-01-10    0.012321
1995-01-11   -0.002028
1995-01-12    0.010163
1995-01-13    0.011736
1995-01-16    0.008000
1995-01-17    0.003968
1995-01-18   -0.021739
1995-01-19   -0.004040
1995-01-20   -0.004057
1995-01-23    0.010184
1995-01-24   -0.002016
1995-01-25    0.014142
1995-01-26    0.003984
1995-01-27    0.027777
1995-01-30    0.015445
1995-01-31   -0.009506
1995-02-01   -0.019194
1995-02-02    0.007828
1995-02-03    0.009708
1995-02-06    0.023077
1995-02-07   -0.001880
1995-02-08   -0.011300
1995-02-09   -0.001904
1995-02-10   -0.001909
1995-02-13    0.007649
                ...
2019-08-15    0.013818
2019-08-16    0.015248
2019-08-19    0.008894
2019-08-20   -0.011144
2019-08-21    0.002523
2019-08-22    0.001846
2019-08-23   -0.017585
2019-08-26    0.017047
2019-08-27    0.010308
2019-08-28    0.007051
2019-08-29   -0.001812
2019-08-30   -0.007840
2019-09-03    0.009399
2019-09-04    0.015244
2019-09-05   -0.003652
2019-09-06    0.000896
2019-09-09   -0.005697
2019-09-10   -0.018744
2019-09-11    0.011595
2019-09-12    0.012369
2019-09-13   -0.005294
2019-09-16   -0.019407
2019-09-17    0.011775
2019-09-18    0.002063
2019-09-19    0.004036
2019-09-20    0.002789
2019-09-23    0.008017
2019-09-24    0.003165
2019-09-25   -0.004773
2019-09-26    0.010486
Name: simple_return, Length: 6228, dtype: float64